.pic {
    display: inline-block;
    /* width: 37.5vw;  */
    width: 75vw;
    z-index: -1;
}

#time {
    position: absolute;
    top: 53vw;
    left: 22vw;

    display: inline-block;
    background-color: #0eb465;
    font-size: 4.5vw;
    font-weight: 400;
    color: white;
}

.name {
    position:absolute;
    top: 70.5vw;
    left: 31.8vw;

    background-color: white;
    border: none;
    color: #8b8a8a;
    font-size: 1.5vw;
    font-weight: 400;
}